body{
    font-family: "Roboto Slab", serif;
}

.div_for_form{
    display: flex;
    justify-content: center;
}

h1, h4{
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}


fieldset{
    border-color: blueviolet;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;;
}

label{
    margin-right: 20px;
}

input{
    border-radius: 5px;
    margin-bottom: 10px;
    border-style: solid;
}

textarea{
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: rgb(137, 43, 226);
}

select{
    border-radius: 5px;
    border-color: rgba(137, 43, 226, 0.996);
}

.letter{
    margin-bottom: 50px;
}

.about_source{
    margin-bottom: 30px;
}

header{
    text-align: center;
}


.btn{
    text-align: center;
    text-decoration: none;
    color: black;
    background: none;
    font-size: small;
    width: 100px;
    border: 3px rgba(137, 43, 226, 0.493) solid ;
    border-radius: 10px;
    margin-bottom: 5px;
}

.btn:hover{
 transform: scale(1.2);
}

.button{
    display: flex;
    justify-content: space-between;
}